In [ ]:
tup=("kiro","amir","kiro")
tup+=("amin",)
print(tup)

('kiro', 'amir', 'kiro', 'amin')

In [ ]:
l=[1,2,3,4,5,4,5,4,1,5,1,5,2]
print(sum(l))

42

In [ ]:
x=[1,2,3,4,5,6]
y=1
for i in x:
  y*=i
print(y)

720

In [ ]:
l=[1,2,3,4,5,4,5,4,1,5,1,5,2]
print(min(l))

1

In [ ]:
l=[1,2,3,4,5,4,5,4,1,5,1,5,2]
print(max(l))

5

In [ ]:
count=0
x=[1,"kiro",2,"amir",5,"amin",6]
for i in x:
  if type(i)==str:
   count+=1
print(count)

3

In [ ]:
l=[1,2,3,4,5,4,5,4,1,5,1,5,2]
x=l.copy()
print(x)

[1, 2, 3, 4, 5, 4, 5, 4, 1, 5, 1, 5, 2]

In [ ]:
myset = {1, 2, 3, 4, 5}
myset.difference_update({2, 4})
print(myset)
#difference_update() can remove one element or more i research from it in w3schools

{1, 3, 5}

In [ ]:
myset = {1, 2, 3, 4, 5}
print(2 in myset)

True

In [ ]:
myset = {1, 2, 3, 4, 5}
myset.clear()
print(myset)

set()

In [ ]:
myset = {1, 2, 3, 4, 5}
print(max(myset))
print(min(myset))

5
1

In [ ]:
mytup = (1, 2, 3, 4, 5)
x = mytup.index(2)
print(x)

1

In [ ]:
mytup = (1, 2, 3, 4, 5)
x=dict.fromkeys(mytup)
print(x)

#if we want add value we do this
mytup = (1, 2, 3, 4, 5)
x=dict.fromkeys(mytup,5)
print(x)

{1: None, 2: None, 3: None, 4: None, 5: None}
{1: 5, 2: 5, 3: 5, 4: 5, 5: 5}

In [48]:
tupleslist = [(1, 'a'), (2, 'b'), (3, 'c')]
list1, list2 = zip(*tupleslist) #to unzip


list1 = list(list1)
list2 = list(list2)


print("List 1:", list1)
print("List 2:", list2)

List 1: [1, 2, 3]
List 2: ['a', 'b', 'c']

In [50]:
x=("k","i","r","o")
y=list(x)
y.reverse()
x=tuple(y)
print(x)

('o', 'r', 'i', 'k')

In [52]:
tupleslist = [(1, 'a'), (2, 'b'), (3, 'c')]
x=dict(tupleslist)
print(x)

{1: 'a', 2: 'b', 3: 'c'}

In [53]:
N=[("k","I","r","o"),("a","m","i","r"),("a","m","i","n")]
nvalue="l"
x=[]
for t in N:
  m=t[0:-1]+(nvalue,)
  x.append(m)
print(x)

[('k', 'I', 'r', 'l'), ('a', 'm', 'i', 'l'), ('a', 'm', 'i', 'l')]

In [66]:
tuple_data = ((1, 2.3), (2, 1.7), (3, 4.5), (4, 0.9))
stuple = tuple(sorted(tuple_data, key=lambda x: x[1]))
print(stuple)

((4, 0.9), (2, 1.7), (1, 2.3), (3, 4.5))