**Tuple**

In [ ]:
numbers = (10, 20, 30, 40, 50)
print(numbers[2])

30

In [ ]:
fruits = ("apple", "banana", "cherry")
(red , blue , green)=fruits
print(red)
print(blue)
print(green)

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry","kiwi")
item="orange"
Nfruits=fruits[:2]+(item,)+fruits[2:]
print(Nfruits)

#OR
fruits = ("apple", "banana", "cherry","kiwi")
y=list(fruits)
y.insert(3,"orange")
fruits=tuple(y)
print(fruits)

('apple', 'banana', 'orange', 'cherry', 'kiwi')
('apple', 'banana', 'cherry', 'orange', 'kiwi')

In [ ]:
N=('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
x="".join(N)
print(x)

exercises

In [ ]:
l=[]
Tuple1=(1,2,12,1,2,58,5,2,2,5,4,7)
for i in Tuple1:
    if Tuple1.count(i)>1 and i not in l:
        l.append(i)
print(l)

[1, 2, 5]

In [ ]:
x=("k","i","r","o")
y=list(x)
y.remove("k")
x=tuple(y)
print(x)

('i', 'r', 'o')

In [ ]:
x=("k","i","r","o")
y=list(x)
y.reverse()
x=tuple(y)
print(x)

('o', 'r', 'i', 'k')

In [ ]:
N=[("k","I","r","o"),("a","m","i","r"),("a","m","i","n")]
nvalue="l"
x=[]
for t in N:
  m=t[0:-1]+(nvalue,)
  x.append(m)
print(x)

[('k', 'I', 'r', 'l'), ('a', 'm', 'i', 'l'), ('a', 'm', 'i', 'l')]

**List**

In [ ]:
F=["apple","banana","watermelon"]
F.append("mango")
print(F)

['apple', 'banana', 'watermelon', 'mango']

In [ ]:
g=[1,2,3,4,5]
k=[6,7,8,9,10]
g.extend(k)
print(g)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
colors = ["Red", "Blue", "Green", "Yellow", "Purple"]
colors.insert(1,"orange")
print(colors)

['Red', 'orange', 'Blue', 'Green', 'Yellow', 'Purple']

In [ ]:
cities = ["New York", "Tokyo","Paris","London","Tokyo","Sydney","Paris"]
cities.remove("Tokyo")
print(cities)

['New York', 'Paris', 'London', 'Tokyo', 'Sydney', 'Paris']

In [ ]:
fanimals = ["Dog", "Cat", "Elephant", "Tiger", "Dolphin"]
x = fanimals.pop(2)

print("Removed animal:", x)
print("Updated list:", fanimals)

Removed animal: Elephant
Updated list: ['Dog', 'Cat', 'Tiger', 'Dolphin']

In [ ]:
numbers = [5, 12, 7, 23, 18, 9]
numbers.clear()
print(numbers)

[]

**dictionary**

In [ ]:
city={"Egypt":"cairo",
      "italia":"roma",
      "usa":"washington"}
x=city.get("france","paris")
print(x)

paris

In [ ]:
populang={
    "Python": ["Django", "Flask", "Pyramid"],
    "JavaScript": ["React", "Angular", "Vue.js"],
    "Java": ["Spring", "Hibernate", "Struts"],
    "C#": [".NET Framework", ".NET Core", "Xamarin"],
    "PHP": ["Laravel", "Symfony", "CodeIgniter"],
    "Ruby": ["Ruby on Rails", "Sinatra", "Padrino"]
}
x=populang.keys()
print(x)

dict_keys(['Python', 'JavaScript', 'Java', 'C#', 'PHP', 'Ruby'])

In [ ]:
populang={
    "Python": ["Django", "Flask", "Pyramid"],
    "JavaScript": ["React", "Angular", "Vue.js"],
    "Java": ["Spring", "Hibernate", "Struts"],
    "C#": [".NET Framework", ".NET Core", "Xamarin"],
    "PHP": ["Laravel", "Symfony", "CodeIgniter"],
    "Ruby": ["Ruby on Rails", "Sinatra", "Padrino"]
}
x=populang.values()
print(x)

dict_values([['Django', 'Flask', 'Pyramid'], ['React', 'Angular', 'Vue.js'], ['Spring', 'Hibernate', 'Struts'], ['.NET Framework', '.NET Core', 'Xamarin'], ['Laravel', 'Symfony', 'CodeIgniter'], ['Ruby on Rails', 'Sinatra', 'Padrino']])

In [ ]:
dct1 = {"pen":12,"notebook":25,"pencil":15}
x=dct1.items()
print (x)

dict_items([('pen', 12), ('notebook', 25), ('pencil', 15)])

In [ ]:
myinf={
    "name":"kiro",
    "age":"20",
    "country":"Egypt"
}
myinf.update({
    "city":"aswan"
})
print(myinf)

{'name': 'kiro', 'age': '20', 'country': 'Egypt', 'city': 'aswan'}

In [ ]:
students={
    "kiro":20,
    "andrew":19,
    "marawan":22,
    "ahmed":23,
    "besho":20
}
students.pop("kiro")
print(students)

{'andrew': 19, 'marawan': 22, 'ahmed': 23, 'besho': 20}

In [ ]:
students={
    "kiro":20,
    "andrew":19,
    "marawan":22,
    "ahmed":23,
    "besho":20
}
students.clear()
print(students)

{}